@import "../../styles/styles.scss";

.SingleJokeContent {
  display: flex;
  flex-direction: column;
  max-width: 1140px;
  align-self: center;
  padding-top: 45px;
  padding-bottom: 70px;
}

.SingleJokeContent__BackBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  margin-bottom: 45px;
  background-color: $nav-bg;
  cursor: pointer;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;

  .SingleJokeContent__BackBtn--Img {
    padding-right: 5px;
  }
}

.SingleJokeContent__Main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.SingleJokeContent__JokeSection {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.SingleJokeContent__JokeCard {
  padding: 18px 22px;
  background-color: $white;
  border: 1px solid $white-two;
  border-radius: 4px;
  width: 730px;

  .SingleJokeContent__JokeCardTop {
    display: flex;
    justify-content: space-between;
  }

  .SingleJokeContent__Category {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22px;
    width: fit-content;
    font-size: 12px;
    padding: 0 8px;
    color: $white;
    background-color: $weird-green;
    border-radius: 11px;
    text-transform: uppercase;
  }

  .SingleJokeContent__Label {
    font-size: 14px;
    font-weight: 600;

    &.SingleJokeContent__Label--chestnut {
      color: #000;
    }
    &.SingleJokeContent__Label--new-in-town {
      color: $dodger-blue;
    }
    &.SingleJokeContent__Label--trending {
      color: $cheese;
    }
    &.SingleJokeContent__Label--hall-of-fame {
      color: $tomato;
    }
  }

  .SingleJokeContent__Value {
    font-size: 15px;
    line-height: 22px;
    color: $dark-text-color;
    padding-top: 25px;
  }
}

.SingleJokeContent__JokeActions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}

.SingleJokeContent__ReactionBtns {
  display: flex;
}

.SingleJokeContent__ReactionBtn--Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;

  &:nth-child(2) {
    margin-left: 30px;
  }
}

.SingleJokeContent__ReactionBtn {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
  border-radius: 50%;
  background-position: 50%;
  background-repeat: no-repeat;
  cursor: pointer;

  &.SingleJokeContent__ReactionBtn--Like {
    background-color: $tea;
    background-image: url("../../assets/icons/like-icon.svg");

    &:hover {
      background-color: $light-forest-green;
    }
  }

  &.SingleJokeContent__ReactionBtn--Dislike {
    background-color: $lightish-red;
    background-image: url("../../assets/icons/dislike-icon.svg");

    &:hover {
      background-color: $faded-red;
    }
  }
}

.SingleJokeContent__ReactionBtn--LikeCounter {
  color: $tea;
  font-weight: 600;
}

.SingleJokeContent__ReactionBtn--DislikeCounter {
  color: $lightish-red;
  font-weight: 600;
}

.SingleJokeContent__JokeNav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.SingleJokeContent__NavBtn {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
  color: $beige;
  background-color: $white-two;
  max-height: 40px;
  width: 130px;
  border: 1px solid $white-two;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.5s;

  &.SingleJokeContent__PrevBtn {
    background: url("../../assets//icons/prev-arrow-icon.svg") no-repeat;
    background-position: left 15px center;
    background-size: 8px 15px;
    padding-left: 33px;

    &:hover {
      background-position: left 4px center;
    }
  }

  &.SingleJokeContent__NextBtn {
    background: url("../../assets//icons/next-arrow-icon.svg") no-repeat;
    background-position: right 15px center;
    background-size: 8px 15px;
    padding-right: 33px;
    margin-left: 8px;

    &:hover {
      background-position: right 4px center;
    }
  }
}

.SingleJokeContent__Chart {
  display: flex;
  flex-direction: column;
  padding: 32px;
  box-sizing: border-box;
  border: 1px solid $white-two;
  border-radius: 4px;
  background-color: $white;
  width: 350px;
  min-height: 300px;

  .SingleJokeContent__ChartTitle {
    font-size: 15px;
    color: $dark-text-color;
    font-weight: 600;
    margin-bottom: 16px;
  }

  .SingleJokeContent__ChartJoke {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 80%;
    padding-bottom: 8px;
    text-decoration: underline;
    cursor: pointer;
    font-size: 15px;
    color: $dark-text-color;
    line-height: 22px;
  }
}

@media only screen and (max-width: 1200px) {
  .SingleJokeContent {
    padding-top: 20px;
    padding-bottom: 20px;

    .SingleJokeContent__Main {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .SingleJokeContent__BackBtn {
      margin-bottom: 20px;
    }

    .SingleJokeContent__JokeActions {
      margin-top: 15px;
      width: 100%;
    }

    .SingleJokeContent__Chart {
      width: 500px;
      margin-top: 25px;
    }
  }
}

@media only screen and (max-width: 992px) {
  .SingleJokeContent {
    width: 90%;

    .SingleJokeContent__JokeSection {
      align-items: center;
      margin-right: 0;
    }

    .SingleJokeContent__JokeCard {
      width: 95%;
    }

    .SingleJokeContent__Chart {
      width: 80%;
    }
  }
}
