/*
 * Color variables
 */
$main-bg: #f9f9f9;
$nav-bg: #303030;

$beige: #cfb995;
$white: #ffffff;
$white-two: #ecebe9;

// Category colors
$red: #ff5b5b;
$pastel-orange: #ff915b;
$pale-orange: #ffbe5b;
$light-gold: #ffdf5b;
$kiwi-green: #8fe360;
$weird-green: #57e690;
$cyan: #57dbe6;
$category-colors: $red, $pastel-orange, $pale-orange, $light-gold, $kiwi-green,
  $weird-green, $cyan;

// Reaction buttons colors
$tea: #68b680;
$light-forest-green: #46915d;
$lightish-red: #ff3750;
$faded-red: #ce2c40;

// Text colors
$light-text-color: #5e5e5e;
$dark-text-color: #313131;

// Label colors
$dodger-blue: #36aef3;
$cheese: #f3a536;
$tomato: #f33636;
