@import "../../styles/styles.scss";

.Footer {
  display: flex;
  flex-direction: column;
  padding: 60px 180px;
  box-sizing: border-box;
  width: 100%;
  background-image: url("../../assets/images/footer-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Footer__Title {
  color: $white;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 16px;
  max-width: 206px;
  line-height: 1.25;
}

.Footer__Link {
  color: $beige;
  font-size: 14px;
  font-weight: 600;
  height: 20px;
}

.Footer__LinkText {
  padding-right: 8px;
}

@media only screen and (max-width: 600px) {
  .Footer {
    padding: 60px 80px;
  }
}
