@import "../../../styles/styles.scss";

.Loader {
  width: 30px;
  height: 30px;
  margin: 20px auto;
  border: 6px solid #d1d1d1;
  border-radius: 50%;
  border-top: 6px solid $nav-bg;
  border-bottom: 6px solid $nav-bg;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
