@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import "./styles/styles.scss";

body {
  margin: 0;
  padding: 0;
  background-color: $main-bg;
  font-family: "Montserrat", sans-serif;
}

a {
  color: inherit;
  text-decoration: inherit;
}
